accelerate==0.21.0
bitsandbytes==0.43.0
datasets==2.18.0
einops==0.7.0
huggingface-hub==0.22.1
intel-extension-for-pytorch==2.2.0
intel-openmp==2024.1.0
ipex-llm==2.1.0b20240329
numpy==1.26.4
pandas==2.2.1
peft==0.10.0
safetensors==0.4.2
scipy==1.12.0
tokenizers==0.13.3
torch==2.2.2
transformers==4.31.0
trl==0.8.1
py-cpuinfo
